<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Trabalho 2 de IoT</title>
		<link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
		<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css'>
		<link rel='stylesheet prefetch' href='https://use.fontawesome.com/releases/v5.0.10/css/all.css'>
		<link rel="stylesheet" href={{ url_for('static', filename='css/tabs.css' )}}>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
	<body>
		<section class="hero is-info">
			<div class="hero-body">
				<div class="container">
					<h1 class="title">
					Trabalho 2 de IoT
					</h1>
					<h2 class="subtitle">
					Sensoriamento de pressão na cama para monitoramento do tempo e da qualidade do sono
					</h2>
				</div>
			</div>
			<div class="tabs is-boxed is-centered main-menu" id="nav">
				<ul>
					<li data-target="pane-1" id="1">
						<a>
							<span class="icon is-small"><i class="fa fa-image"></i></span>
							<span>Home</span>
						</a>
					</li>
					<li data-target="pane-2" id="2" class="is-active">
						<a>
							<span class="icon is-small"><i class="fab fa-empire"></i></span>
							<span>Últimos dados coletados</span>
						</a>
					</li>
					<li data-target="pane-3" id="3">
						<a>
							<span class="icon is-small"><i class="fab fa-empire"></i></span>
							<span>Centro de gravidade</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="tab-content">
				<div class="tab-pane" id="pane-1" class="level">

					{% if readings[0] %}
					{% if readings[0].value_11 +readings[0].value_12 +readings[0].value_21 +readings[0].value_22 +readings[0].value_31 +readings[0].value_32 > 25 %}
					<h1>Alguém está na cama</h1>
					<i class="fas fa-bed fa-10x"></i>
					{% else %}
					<h1>Ninguém está na cama</h1>
					<i class="fas fa-bed fa-10x" style="color: lightgrey"></i>
					{% endif %}
					{% else %}
					<h3>Nenhum dado coletado até o momento</h3>
					{% endif %}
				</div>
				<div class="tab-pane is-active" id="pane-2">
					<table class="table">
						<thead>
							<tr>
								<th>Id</th>
								<th>Timestamp</th>
								<th>(1,1)</th>
								<th>(1,2)</th>
								<th>(2,1)</th>
								<th>(2,2)</th>
								<th>(3,1)</th>
								<th>(3,2)</th>
							</tr>
						</thead>
						<tbody>
							{% for reading in readings %}
							<tr>
								<td>{{ reading.id }}</td>
								<td>{{ reading.time }}</td>
								<td>{{ reading.value_11 }}</td>
								<td>{{ reading.value_12 }}</td>
								<td>{{ reading.value_21 }}</td>
								<td>{{ reading.value_22 }}</td>
								<td>{{ reading.value_31 }}</td>
								<td>{{ reading.value_32 }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="tab-pane" id="pane-3">
				    <div class=columns>
				        <div class="column is-three-fifths is-offset-one-fifth">
				            <canvas id="myChart"></canvas>
				        </div>
				    </div>

				</div>
			</div>
		</div>
	</section>
	<script src={{ url_for('static', filename='js/bulma.js') }}></script>
	<script src={{ url_for('static', filename='js/tabs.js') }}></script>
	<script type="text/javascript">
	    var ctx = document.getElementById('myChart').getContext('2d');


        var scatterChart = Chart.Scatter(ctx, {
			data: {
                datasets: [{
                    showLine:false,
                    data: [{
                        x: 1,
                        y: 1
                    }, {
                        x: 2,
                        y: 1
                    }, {
                        x: 1,
                        y: 2
                    }, {
                        x: 2,
                        y: 2
                    }, {
                        x: 1,
                        y: 3
                    }, {
                        x: 2,
                        y: 3
                    }],
                    pointBackgroundColor: 'orange',
                    pointRadius: 10
                }, {
                    label: 'Centro de massa',
                    data: [],
                    pointBackgroundColor: 'red',
                    pointRadius: 4
                }]
            },
			options: {
			    legend: {
			      display: false
			    },
				title: {
					display: true,
					text: 'Grade de sensores'
				},
				scales: {
				    yAxes: [{
				        display: true,
				        ticks: {
				            beginAtZero: true,
				            suggestedMax: 4
				        }

				    }],

				    xAxes: [{
				        display: true,
				        ticks: {
				            beginAtZero: true,
				            suggestedMax: 3
				        }

				    }]
				}
			}
		});

        var updateCenterOfMass = function(readings) {
            var v11 = readings.value_11;
            var v12 = readings.value_12;
            var v21 = readings.value_21;
            var v22 = readings.value_22;
            var v31 = readings.value_31;
            var v32 = readings.value_32;

            var sum = v11 + v12 + v21 + v22 + v31 + v32;

            var cm_x = ((v11 + v21 + v31) + 2*(v12 + v22 + v32))/sum;
            var cm_y = ((v11 + v12) + 2*(v21 + v22) + 3*(v31 + v32))/sum;

            console.log(`cm_x: ${cm_x}, cm_y: ${cm_y}`);
            // Removing last center of mass and adding new one
            scatterChart.data.datasets[1].data.pop();

            scatterChart.data.datasets[1].data.push({x: cm_x, y: cm_y});
            scatterChart.update();
        }

		// Setup polling
		function Request() {
          this.pollTimer = null;
          this.interval = 1000;
          this.url = './latest';
        }

        Request.prototype.disablePoll = function () {
          clearInterval(this.pollTimer);
          this.pollTimer = null;
        };

        Request.prototype.activatePoll = function () {
          this.pollTimer = setInterval(() => {
            $.getJSON(this.url).then(response => updateCenterOfMass(response))
          }, this.interval);
        };

        var req = new Request()
        req.activatePoll();
	</script>
</body>
</html>
